# Dependencias
node_modules/

# Compilado
dist/

# Variables de entorno y credenciales
resources/.env
resources/firebase-service-account.json

# Logs
*.log
npm-debug.log*

# Cache TypeScript
*.tsbuildinfo
tsconfig.build.tsbuildinfo

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db